{% extends 'mailing/base.html' %}
{% block content %}
<div class="container marketing mt-5">
    <div class="container text-center mt-3">
        <div class="row justify-content-center">
            <div class="col-4">
            </div>
            <div class="col-4">
                <h2>Сообщения</h2>
                {% if user.is_authenticated and not user.is_staff %}
                <a class="btn btn-success mt-3" href="{% url 'mailing:message_create' %}">Добавить сообщение</a>
                {% endif %}
            </div>
            <div class="col-4">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="table-responsive small">
            <table class="table table-success table-striped">
                <thead>
                <tr>
                    <th>Тема</th>
                    <th>Сообщение</th>
                    <th>Создал</th>
                    <th>Действия</th>
                </tr>
                </thead>
                {% for object in object_list %}
                <tr>
                    {% if user.is_superuser or object.owner == user or user.is_staff %}
                    <td>{{ object.subject }}</td>
                    <td>{{ object.content|truncatechars:30 }}</td>
                    <td>{{ object.owner }}</td>
                    <td>
                        <a class="btn btn-primary btn-sm" href="{% url 'mailing:message_detail' object.pk%}">Посмотреть</a>
                    {% endif %}
                        {% if user.is_superuser or object.owner == user %}
                        <a class="btn btn-primary btn-sm" href="{% url 'mailing:message_update' object.pk%}">Редактировать</a>
                        <a class="btn btn-danger btn-sm" href="{% url 'mailing:message_delete' object.pk%}">Удалить</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor%}
            </table>
        </div>
    </div>
</div>
{% endblock %}