{% extends 'mailing/mailing/base.html' %}
{% block content %}
{% load my_tags %}
<div class="container marketing mt-5">
    <div class="container text-center mt-3">
        <div class="row justify-content-center">
            <div class="col-4">

            </div>
            <div class="col-4">
                <h2>Получатели</h2>
                {% if user.is_authenticated and not user.is_staff %}
                <a class="btn btn-success mt-3" href="{% url 'mailing:receivemail_form' %}">Добавить получателя&raquo;</a>
                {% endif %}
            </div>
            <div class="col-4">

            </div>
        </div>

    </div>
    <div class="row">
        <div class="table-responsive small">
            <table class="table table-success table-striped">
                <thead>
                <tr>
                    <th>Фото</th>
                    <th>ФИО получателя</th>
                    <th>email получателя</th>
                    <th>Комментарий</th>
                    <th>Создал</th>
                    <th>Действия</th>
                </tr>
                </thead>

                {% for object in object_list %}
                <tr>
                    {% if user.is_superuser or user.is_staff or object.owner == user %}
                    <td><img src="{{ object.avatar|media_filter }}" alt="Фото" class="rounded" width="40" height="40"></td>
                    <td>{{ object.fio }}</td>
                    <td>{{ object.mail }}</td>
                    <td>{{ object.comment | truncatechars:30 }}</td>
                    <td>{{ object.owner }}</td>
                    {% endif %}
                    <td>
                        {% if user.is_superuser or object.owner == user %}
                        <a class="btn btn-primary btn-sm"
                           href="{% url 'mailing:receivemail_update' object.pk%}">Редактировать
                        </a>
                        <a class="btn btn-danger btn-sm" href="{% url 'mailing:receivemail_delete' object.pk%}">Удалить</a>
                        {% endif %}
                    </td>

                </tr>
                {% endfor %}
            </table>

        </div>

    </div>
</div>
{% endblock %}}