{% extends 'mailing/mailing/base.html' %}
{% block content %}
<main class="flex-shrink-0">
  <div class="container">
    <h1 class="mt-5">Получатель рассылки</h1>
    <p class="lead"></p>
    <div class="row mb-2">
    <div class="col-md-12">
    <div class="container">
        <div class="row">
            <div class="col">
                <form class="row" method="post" enctype="multipart/form-data">
                    <div class="card">
                        <div class="card-body">
                            {%  csrf_token %}
                            {{ form.as_p }}
                        </div>
                        <div class="row mb-2">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-dark">
                                {% if object %}
                                Сохранить
                                {% else %}
                                Создать
                                {% endif %}
                            </button>
                        </div>
                        </div>
                        <div class="row mb-2">
                        <div class="col-md-12">
                            <a class="btn btn-dark" href="{% url 'mailing:receivemail_list' %}" role="button">Назад</a>
                        </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
    </div>
  </div>
</main>
{% endblock %}