{% extends 'mailing/base.html' %}
{% load static %}
{% block content %}
<main class="flex-shrink-0">
  <div class="container">
    <h1 class="mt-5">Удаление пользователя</h1>
    <p class="lead"></p>
    <div class="row mb-2">
    <div class="col-md-12">
        <div class="container">
    <div class="row">
        <div class="col">
            <form class="row" method="post" enctype="multipart/form-data">
                <div class="card">
                    <p class="card-text">Вы действительно хотите удалить пользователя: "{{object.email}}"</p>
                    <div class="card-body">
                        {%  csrf_token %}
                    </div>
                    <div class="row mb-2">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-dark">Удалить</button>
                        <a class="btn btn-dark" href="{% url 'users:user_list' %}" role="button">Отменить</a>
                    </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    </div>
    </div>
  </div>
</main>
{% endblock %}